html
  head
    title Factures
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
  body
    div.container
      h1 Factures
      div.row
        each invoice in invoices
          .card.col-md-3
            img.card-img-top(src=invoice.file, style='margin-top: 10px; width:100%', alt='Card image cap')
            .card-block
              h4.card-title= invoice.number
              p.card-text= invoice.date

          